<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/searchresults.css">
</head>

<body>

    <h3>Search Results:</h3>

    <% if (data.prevPageToken) { %>
      <form method="post" action="/searchChannel" class="search" >
        <input type="text" name="searchChannel" class="channel-name" placeholder="Enter Channel Name" hidden value="<%=query%>">
        <input type="text" name="noOfResults" hidden value="<%=numResults%>">
        <input type="text" name="prevPage" hidden value="<%=data.prevPageToken%>">
        <button type="submit" target="_self" class="btn btn-primary">Previous Page</button>
      </form>
    <% } %>
    <p>Showing <%= data.pageInfo.resultsPerPage %> results at once</p>
    <% if (data.nextPageToken) { %>
      <form method="post" action="/searchChannel" class="search" >
        <input type="text" name="searchChannel" class="channel-name" placeholder="Enter Channel Name" hidden value="<%=query%>">
        <input type="text" name="noOfResults" hidden value="<%=numResults%>">
        <input type="text" name="nextPage" hidden value="<%=data.nextPageToken%>">
        <button type="submit" target="_self" class="btn btn-primary">Next Page</button>
      </form>
    <% } %>
  <!--
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Results per page</label>
      </div>
      <select class="custom-select" name="noOfResults" id="ResultsPerPageInput">
        <option value="10">10</option>
        <option value="25" selected>25</option>
        <option value="50">50</option>
      </select>
    </div>
  -->
    <div class="list-group">
    <% listOfItems.forEach(function(item){ %>
      <a href="/publicStat/<%=item.snippet.channelId %>" class="list-group-item list-group-item-action">
        <%=item.snippet.channelTitle %>
      </a>
    <% }) %>

    </div>



</body>

</html>
