<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Youtube Dashboard</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <main data-simplebar>
      <div class="navbar">
        <div class="hero-title">
          <i class="fab fa-youtube"></i> YouTube Dashboard
        </div>
      </div>
      <main class="animate__animated animate__backInLeft">
        <!-- <div class="main"> -->
        <form method="post" action="/searchChannel" class="search">
          <div class="search-input">
            <input
              type="text"
              name="searchChannel"
              class="channel-name my-2"
              placeholder="Enter Channel Name"
            /><select
              class="custom-select"
              name="noOfResults"
              id="ResultsPerPageInput"
            >
              <option value="10">10</option>
              <option value="25" selected>25</option>
              <option value="50">50</option>
            </select>
            <button type="submit" target="_self" class="btn btn-danger">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>

          <input type="text" name="nextPage" hidden value="" />
          <input type="text" name="prevPage" hidden value="" />
        </form>
        <form method="post" action="/statPub" class="search-input">
          <input
https://github.com/shriyaMadan/Youtube-Dashboard/pull/36/conflict?name=views%252FstatPub.ejs&ancestor_oid=e560b69766fd5f2973a081a5280eea0fced82285&base_oid=9a4f5eed92c8e2740008b1d0042f731212052d95&head_oid=f89d856510db19e6b6b225943b7db5090f1fa23a            type="text"
            name="channelUrl"
            class="channel-url"
            placeholder="Enter Channel URL"
          />
          <button type="submit" target="_self" class="btn btn-danger">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
        <!-- </div> -->

        <% if ( subsCount!="" || videoCount!="" || viewCount!="" ) { %>
        <div class="main">
          <!-- <h3>Results:</h3> -->
          <div class="channel-details">
            <img
              src="<%= channelThumbnailURL %> "
              alt="channel thumbnail url"
              class="channel-thumbnail"
            />
            <h1 class="channel-detail-name"><%= channelName %></h1>
          </div>
          <div class="channel-results">
            <div class="subsCountHeading heading">
              <i class="fas fa-users"></i> <%= subsCount %> subscribers
            </div>
            <div class="videoCountHeading heading">
              <i class="fab fa-youtube"></i> <%= videoCount %> videos
            </div>
            <div class="viewCountHeading heading">
              <i class="fas fa-eye"></i> <%= viewCount %> views
            </div>
          </div>
        </div>
        <% } %>
      </main>
    </main>
    
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>
