<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Youtube Dashboard</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
    />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css">
		<script src="//code.jquery.com/jquery-2.1.4.js" type="text/javascript"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
		<script>
		  jQuery(function() {
		    jQuery( "#searchChannel" ).autocomplete({
		      source: function( request, response ) {
		    	var sqValue = [];
		        jQuery.ajax({
			        type: "POST",
			        url: "https://suggestqueries.google.com/complete/search?hl=en&ds=yt&client=youtube&hjson=t&cp=1",
			        dataType: 'jsonp',
			        data: jQuery.extend({
			            q: request.term
			        }, {  }),
			        success: function(data){
			        	console.log(data[1]);
			           	obj = data[1];
						jQuery.each( obj, function( key, value ) {
							sqValue.push(value[0]);
						});
			           	response( sqValue);
			        }
			    });
		      }
		    });
		  });
    </script>
  </head>
  <body>
    <main data-simplebar>
      <div class="navbar">
        <div class="hero-title">
          <i class="fab fa-youtube"></i> YouTube Dashboard
        </div>
      </div>
      <main>
        <!-- <div class="main"> -->
        <form method="post" action="/searchChannel" class="search">
          <div class="search-input">
            <input
              type="text"
              name="searchChannel"
              id="searchChannel"
              class="channel-name my-2"
              placeholder="Enter Channel Name or Channel URL"
            /><select
              class="custom-select"
              name="noOfResults"
              id="ResultsPerPageInput"
            >
              <option value="10">10</option>
              <option value="25" selected>25</option>
              <option value="50">50</option>
            </select>
            <button type="submit" target="_self" class="btn btn-danger">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>

          <input type="text" name="nextPage" hidden value="" />
          <input type="text" name="prevPage" hidden value="" />
        </form>
        <!-- </div> -->

        <% if ( subsCount!="" || videoCount!="" || viewCount!="" ) { %>
        <div class="main">
          <!-- <h3>Results:</h3> -->
          <div class="channel-details">
            <img
              src="<%= channelThumbnailURL %> "
              alt="channel thumbnail url"
              class="channel-thumbnail"
            />
            <h1 class="channel-detail-name"><%= channelName %></h1>
          </div>
          <div class="channel-results">
            <div class="subsCountHeading heading">
              <i class="fas fa-users"></i> <%= subsCount %> subscribers
            </div>
            <div class="videoCountHeading heading">
              <i class="fab fa-youtube"></i> <%= videoCount %> videos
            </div>
            <div class="viewCountHeading heading">
              <i class="fas fa-eye"></i> <%= viewCount %> views
            </div>
          </div>
        </div>
        <% } %>
        <% if (subsCount=="" || videoCount=="" || viewCount=="") { %>
          <% channels.forEach(channel => { %>
            <div class="main">
          <div class="channel-details">
            <img
              src="<%= channel.snippet.thumbnails.default.url  %> "
              alt="channel thumbnail url"
              class="channel-thumbnail"
            />
            <h1 class="channel-detail-name"><%= channel.snippet.title %></h1>
          </div>
          
          <div class="channel-results">
            <div class="subsCountHeading heading">
              <i class="fas fa-users"></i> <%= channel.statistics.subscriberCount %> subscribers
            </div>
            <div class="videoCountHeading heading">
              <i class="fab fa-youtube"></i> <%= channel.statistics.videoCount %> videos
            </div>
            <div class="viewCountHeading heading">
              <i class="fas fa-eye"></i> <%= channel.statistics.viewCount %> views
            </div>
          </div>
        </div>
      </div>
            <% }) %>
        <% } %>
        <footer>
          <a href="https://www.iubenda.com/privacy-policy/40442424/legal" class="iubenda-black iubenda-embed"
            title="Privacy Policy ">Privacy Policy</a>
        </footer>
        
      </main>
      
    </main>
 
  <script type="text/javascript">
    (function (w, d) { var loader = function () { var s = d.createElement("script"), 
    tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; 
    tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } 
    else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);
  </script>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="javascripts/index.js"></script>
  </body>
</html>